# Solidity
evm-cfg-builder==0.3.1
solc-select==0.2.1
ipython==8.1.1
py-solc-x==1.1.1
pyevmasm==0.2.3
slither-analyzer==0.9.1
protobuf==3.20.1
manticore==0.3.7

# Networkx
networkx==2.7.1
pydot==1.4.2

# PLY
ply==3.11

# Z3
z3-solver